@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0000FF;
}

header h1 {
    font-family: 'Festive', cursive;
    font-size: 4.5em;
    background-color: #000C66;
    color: #FFFFFF;
    padding: 0 0.80em 0 0.80em;
}

h6 {
    font-size: 1.15em !important;
}

div {
    background-color: #7EC8E3;
    color: #050A30;
    display: none;
    padding: 0.2em;
    border-color:#050A30;
    border-style: solid;
    border-width: 2px;
    font-size: 1.6em;
    padding-bottom: 2em;
}

p {
    display: none;
    border-color:#050A30;
    border-style: solid;
    border-width: 2px;
}

.Q1 {
    display: block;
}

footer button {
    color:#7EC8E3;
    background-color:#050A30;
    font-size: 1.5em;
    border-color:#7EC8E3;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    margin: 0.1em;
    margin-top: 1.3em;
}

.stats {
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#7EC8E3;
    background-color:#050A30;
    font-size: 2em;
    border-color:#7EC8E3;
    border-style: solid;
    border-width: 2px;
}

footer .next {
    display: none;
}